body {
    font-family: 'Share Tech Mono', Arial, Helvetica, sans-serif;
    background-image: url(../images/x-wing.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.section-title {font-size:200%;}
.main-section-title{
    font: size 300%;
    text-align:center;
}